<div class="navbar">
    <ul class="navbar-list">
        <li class="nav-list-item"><a href="/shop">Shop</a></li>
        <li class="nav-list-item"><a href="/shop/cart">Cart</a></li>
        <li class="nav-list-item"><a href="/shop/order">Orders</a></li>
        <li class="nav-list-item"><a href="/admin/add_product">Add Product</a></li>
        <li class="nav-list-item"><a href="/admin">Admin</a></li>
    </ul>
</div>

