.container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-bottom: 20px;
    height:auto;
    background-color: rgb(245, 140, 70);
    text-align: center;
    border-radius: 5px;
    color: white;
}
.card{
    margin-left: 5%;
    margin-right: 5%;
}
.image img{
    width:300px;
    height: 250px;
}
.card_body button{
    margin: 0.9em;
    padding:0.2em;
    width: 95px;
    height: 38px;
    color: white;
   background-color: rgb(245, 140, 70);
    border-color:white;
    border: 5px solid;
    border-radius: 5px;
    text-decoration-style: none;
    text-align: center;
}
.card_body button:hover{
    background-color: wheat;
    color:  rgb(245, 140, 70);
    border-color:chocolate;
}